.header {
  background-color: #4A4E69;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.body {
  background-color: #F2E9E4;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: black;
}

.black{
  color: #C9ADA7;
}

.inputbox{
  width: 25%;
  height: 50%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid #9A8C98;
  background-color: white;
}

.summarybox{
  width: 700px;
  height: 50vh;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #9A8C98;
  background-color: white;
}

.subhead{
  font-size: 20px;
  font-weight: bold;
  color: #4A4E69;
}

.submitButton{
  width: 10%;
  height: 5%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 2px solid #9A8C98;
  background-color: #4A4E69;
  color: white;
  font-weight: bold;
}

.formclass{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summarizebody{
  display: flex;
  justify-content: space-between;
  gap: 300px
  
}

.lebron{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.databody{
  background-color: #4A4E69;
  width: 400px;
  font-size: medium;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
}